

<div class="container">

  <header>
    <h1>Nos Dernières Publications</h1>
    <p class="subtitle">Découvrez nos articles sur les technologies web</p>
    <input class="mt-5" type="search" placeholder="search by title">
  </header>

  <div class="posts-grid">
    <!-- Article 1 -->
    <article class="post-card" *ngFor="let article of Article">
        <img [src]="article.Image">

      <div class="post-content">
        <h2 class="post-title"> {{article.Titre}}</h2>
        <div class="post-meta">
          <span class="author">Idriss Mikdame</span>
          <span>•</span>
          <span>{{article.date}}</span>
        </div>
        <p class="post-excerpt">
          {{article.Description}}
        </p>
        <div>
          <span class="tag">{{article.Categorie}}</span>
        </div>
        <a href="#" class="read-more">Lire l'article</a>
      </div>
    </article>


  </div>
</div>

