

<div class="container">

  <header>
    <h1>Nos Dernières Publications</h1>
    <p class="subtitle">Découvrez nos articles sur les technologies web</p>
    <input class="mt-5 mb-5" type="search" placeholder="search by title"><br>
    <button  (click)="selectCategories='sport'">sport</button>
    <button (click)="selectCategories='FOOD'">food</button>
    <button (click)="selectCategories='social'">social</button>
    <button (click)="selectCategories='music'">music</button>
    <button (click)="selectCategories=''">All</button>

  </header>

  <div class="posts-grid">
    <!-- Article 1 -->
    <article class="post-card" *ngFor="let article of Article">
      <ng-container *ngIf="(!selectCategories) || article.Categorie === selectCategories">

      <img [src]="article.Image">

      <div class="post-content">
        <h2 class="post-title"> {{article.Titre}}</h2>
        <div class="post-meta">
          <span class="author">Idriss Mikdame</span>
          <span>•</span>
          <span>{{article.date}}</span>
        </div>
        <p class="post-excerpt">
          {{article.Description}}
        </p>
        <div>
          <span class="tag">{{article.Categorie}}</span>
        </div>
        <a href="#" class="read-more">Lire l'article</a>

      </div>
    </ng-container>

    </article>

  </div>
</div>

