<app-navbar></app-navbar>
<section class="theSection">
<div class="aprocontent">
    <h1>à propos de nous</h1>
    <p class="apro">Bienvenue sur notre blog ! Ici, nous partageons avec passion des articles inspirants, des astuces utiles et des découvertes uniques autour de nos centres d’intérêt. Notre mission est de créer un espace chaleureux où chacun peut apprendre, échanger et s’inspirer. Merci de faire partie de cette aventure !</p>
</div>
<div>
    <h1>articles récents</h1>
</div>
  <div class="posts-grid">
    <article class="post-card" *ngFor="let article of Article | slice:0:3">
      <ng-container *ngIf="(!selectCategories || article.Categorie === selectCategories ) && (!searchByTitle|| article.Titre.toLowerCase().includes(searchByTitle.toLowerCase()))">

        <img [src]="article.Image">

        <div class="post-content">
          <h2 class="post-title"> {{article.Titre}}</h2>
          <div class="post-meta">
            <span class="author">Idriss Mikdame</span>
            <span>•</span>
            <span>{{article.date}}</span>
          </div>
          <p class="post-excerpt">
            {{article.Description}}
          </p>
          <div>
            <span class="tag">{{article.Categorie}}</span>
          </div>
          <a href="#" class="read-more"  [routerLink]="['/post-detail',article.id]" >Lire l'article</a>

        </div>
      </ng-container>

    </article>

  </div>


</section>
