<section class="theSection">
<div class="aprocontent">
    <h1>à propos de nous</h1>
    <p class="apro">Bienvenue sur notre blog ! Ici, nous partageons avec passion des articles inspirants, des astuces utiles et des découvertes uniques autour de nos centres d’intérêt. Notre mission est de créer un espace chaleureux où chacun peut apprendre, échanger et s’inspirer. Merci de faire partie de cette aventure !</p>
</div>
<div>
    <h1>articles récents</h1>
</div>
<div class="theContent">
<div class="articls">
    <h3>titre</h3>
    <img src="assets/test-patterns-wallpaper-preview.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure error debitis quis distincti</p>
    <button class="thebtn">voir plus</button>
</div>
<div class="articls">
    <h3>titre</h3>
    <img src="assets/test-patterns-wallpaper-preview.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure error debitis quis distincti</p>
    <button class="thebtn">voir plus</button>
</div>
<div class="articls">
    <h3>titre</h3>
    <img src="assets/test-patterns-wallpaper-preview.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure error debitis quis distincti</p>
    <button class="thebtn">voir plus</button>
</div>
<div class="articls">
    <h3>titre</h3>
    <img src="assets/test-patterns-wallpaper-preview.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure error debitis quis distincti</p>
    <button class="thebtn">voir plus</button>
</div>
</div>

</section>
