
<div class="all">
<section class="newSection">
<h1>titre</h1>
<img src="assets/test-patterns-wallpaper-preview.jpg" alt="">
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea officiis ducimus sunt tenetur officia molestiae dolorem, enim, voluptas unde quae tempore. Ab porro totam officiis ullam voluptates, quos consectetur laborum.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, maxime praesentium doloribus maiores explicabo animi? Doloribus vitae nobis natus cumque, consectetur necessitatibus magni minima quasi, ex, omnis est distinctio. Distinctio.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia debitis magnam, suscipit ex laudantium quam similique. Alias eveniet eos praesentium voluptatum, fugit doloremque voluptatibus dolorem libero vel reiciendis velit veritatis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloremque similique sed dolorum recusandae obcaecati unde, consequuntur, explicabo fuga placeat nesciunt autem nam adipisci. Voluptates, libero suscipit. Minima, nam ratione.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, deleniti explicabo. Sequi quam ab accusamus aspernatur consequatur impedit, velit numquam minima nemo distinctio exercitationem, fuga expedita pariatur eius doloribus mollitia?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, excepturi? Tempora iure odit magni, qui nisi omnis aliquid similique iste est ipsum animi! Minus, culpa inventore! Aperiam, libero aut. Esse!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo beatae est unde cum culpa repellat iusto vel deleniti enim repellendus, alias necessitatibus error commodi! Aliquid saepe inventore odio quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, nobis obcaecati, odio repudiandae suscipit voluptates nihil vero nostrum enim reiciendis, dolore expedita iure fuga cumque in! Reiciendis magni hic ipsam?
</p>
</section>
<div class="comelem">
<h2 class="commtitle">Commentaire</h2>
<div class="commentsElem">
  <div class="comments">
    <textarea class="textpart" placeholder="Écrivez votre commentaire ici..."></textarea>
    
    <button>Envoyer</button>
  </div>
  <section class="commentsAdded">
    <h3>idriss a commenté: </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quaerat nihil tenetur ratione, molestiae accusamus aspernatur veniam corporis neque obcaecati reprehenderit facere ducimus, totam illum, est tempora dicta laborum accusantium.</p>
  </section>
  <section class="commentsAdded">
    <h3>idriss a commenté: </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quaerat nihil tenetur ratione, molestiae accusamus aspernatur veniam corporis neque obcaecati reprehenderit facere ducimus, totam illum, est tempora dicta laborum accusantium.</p>
  </section>
</div>
</div>
</div>





