

<div class="container">
  <div class="form-container">
    <h1  class="form-title">New Article</h1>
    <h1 >Edit Article</h1>
    <form (ngSubmit)="onAddArticle()">
      <div class="mb-3">
        <label class="form-label">TItre:</label>
        <input [(ngModel)]="article.Titre" name="Titre" class="form-control" type="text">
      </div>
      <div class="mb-3">
        <label class="form-label">Image :</label>
        <input [(ngModel)]="article.Image" name="Image" class="form-control" type="text">
      </div>

      <div class="mb-3">
        <label  class="form-label">Description :</label>
        <input class="form-control" type="text" [(ngModel)]="article.Description" name="Description">
      </div>

      <div class="mb-3">
        <label class="form-label">Categorie :</label>
        <input [(ngModel)]="article.Categorie" name="Categorie" class="form-control" type="text">
      </div>

      <div class="mb-3 d-flex justify-content-center">
        <button  class="btn btn-primary " >Ajouter</button>
      </div>
    </form>
  </div>
</div>

<div class="post-content" *ngFor="let article of Article">
  <div class="post-meta">
    <span class="author">{{article.Titre}}</span>
    <span><img [src]="article.Image"></span>
  </div>
  <p class="post-excerpt">
  {{article.Description}}
  </p>
  <div>
    <span class="tag">{{article.Categorie}}</span>
  </div>
  <a href="#" class="read-more">Lire l'article</a>
  <button class="btn btn-outline-dark" (click)="onDeleteArticle(article.id)">Delete</button>
  <button class="btn btn-outline-dark" (click)="onEditArticle()">Edite</button>

</div>
